@using Base.Entity.ViewModels
@model List<CartItemViewModel>

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12" id="shopping-cart-box">
                @{Html.RenderPartial("_CartBody", Model);}
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->